/*
* @Author: admin
* @Date:   2018-09-29 08:40:03
* @Last Modified by:   admin
* @Last Modified time: 2018-10-08 16:06:05
*/
.top{
	width: 100%;
	transition: 0.5s;
}
.mynav .nav{
	background-color: transparent;
	border: none;
	padding-top: 10px;
	margin-bottom: 0px;
}
.mynav .nav li a{
	color: #fff;
	font-size: 16px;
}
.nav li a.frcolor{
	color: red;
}
.mynav .navbar-brand{
	padding-top: 0px;
}
.mynav .myqq{
	width: 44px;
	height: 44px;
	background-image: url('../images/cicon_bg_qq.png');
	background-size: 100%;
	background-position: -178px 1px;
	cursor: pointer;
}
.mypic{
	position: relative;
}
.mypic h4,.mypic p{
	position: absolute;
	left: 0px;
	top: 0px;
	color: #fff;
}
.picture1 h4{
	left: 50%;
	top: 40%;
	font-size: 45px;
	margin-left: -270px;
	margin-top: -49px;
	line-height: 65px;
}
.picture2 h4{
	left: 50%;
	top: 40%;
	font-size: 45px;
	margin-left: -270px;
	margin-top: -74px;
	line-height: 65px;
}
.picture3 h4{
	left: 50%;
	top: 50%;
	font-size: 45px;
	margin-left: -590px;
	margin-top: -100px;
	width: 450px;
	line-height: 65px;
}
@media (max-width: 768px) {
	.lbt h4{
		font-size: 19px;
		line-height: 23px;
		margin-top: -2%;
		margin-left: -20%;
	}
	.picture3 h4{
		margin-top: -3%;
		margin-left: -43%;
	}
	.picture3 .onep{
		font-size: 12px;
		line-height: 13px;
		width: 150px;
	}
	.picture3 p.twop{
		margin-top: 10px;
		font-size: 12px;
		line-height: 13px;
		width: 200px;
	}
}
.picture3 p{
	font-size: 17px;
	margin-left: 17px;
}
.picture3 .onep{
	left: 5%;
	top: 60%;
}
.picture3 .twop{
	left: 5%;
	top: 65%;
	width: 458px;
}
.select{
	margin-top: 10px;
}
.select ul li{
	width: 50px;
	line-height: 30px;
	border-bottom: solid 2px transparent;
	list-style: none;
	float: left;
	margin-right: 20px;
	text-align: center;
	cursor: pointer;
}
.select ul .one{
	border-bottom: solid 2px red;
	color: red;
}
.my_li{
	padding-top: 100px;
	position: relative;
}
.my_li .thumbnail{
	padding: 10px;
	box-sizing: border-box;
}
.my_li p{
	color: #666;
	font-size: 13px;
	line-height: 20px;
}
.my_li h3{
	font-size: 22px;
	font-weight: 400;
}
.contbottom{
	padding: 35px;
}
.contbottom p{
	font-size: 20px;
	color: #666;
}
.contbottom h4{
	font-size: 25px;
}
.contbottom button{
	width: 150px;
	margin-top: 28px;
}
.mybottom{
	background-color: #9a9c99;
	color: #fff;
	padding: 20px 0px;
}
.mybottom ul{
	padding-left: 0px;
}
.mybottom ul li{
	float: left;
	list-style: none;
	margin: 25px 25px 20px 0px;
	font-size: 15px;
}
.mybottom i{
	font-size: 13px;
}
.mybottom h4{
	font-size: 23px;
	margin-bottom: 20px;
}
.mybottom p{
	margin-bottom: 0px;
	margin-top: 10px;
	font-size: 13px;
}
@media (max-width: 768px){
	.botright{
		text-align: left;
	}
}